

.main input.span:read-only{
  opacity: 0.6;
}
.main input.span{
  
  border-top-left-radius: 0px ;
  border-bottom-left-radius:0px ;
}
.main span.opacity{opacity:0.6;}

.main span{
  background-color: #626161;
  font-size: 16px;
  padding-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.main input[type="submit"]{
  padding: 10px;
  width: 70px;
  border: none;
  border-radius: 10px;
  font-size: 16px; 
  background-color: #d65d00;
  color: #e0e0e0;
}
.main input[type="submit"]:hover{
  background-color: #bf5606;
}
.submit{
  text-align: center;
}
.main li{
  color: #ba0303;
}
